package {{.Name}}

import (
  "context"
)

type (
  // Repository is the interface that provides the {{.Name}} service.
  Repository interface {
    {{range .Interface.Methods}}{{template "method_comment" .}}
    {{.Name}}(ctx context.Context{{template "params" .}}){{template "returns" .}}{{ end }}
  }

  repository struct {
    db *gorm.DB
  }
)

var _ Repository = (*repository)(nil)

// NewRepository creates a new {{.Name}} repository.
func NewRepository(db *gorm.DB) Repository {
  return &repository{
    db: db,
  }
}

{{range .Interface.Methods}}
func (r *repository) {{.Name}}(ctx context.Context{{template "params" .}}){{template "returns" .}} {
  panic("not implemented")
}
{{end}}