package {{.Name}}

import (
  "context"
)

type (
  // Service is the interface that provides the {{.Name}} service.
  Service interface {
    {{range .Interface.Methods}}{{template "method_comment" .}}
    {{.Name}}(ctx context.Context{{template "params" .}}){{template "returns" .}}{{ end }}
  }

  service struct {
    repo Repository
  }
)

var _ Service = (*service)(nil)

// NewService creates a new {{.Name}} service.
func NewService(repo Repository) Service {
  return &service{
    repo: repo,
  }
}

{{range .Interface.Methods}}
func (s *service) {{.Name}}(ctx context.Context{{template "params" .}}){{template "returns" .}} {
  panic("not implemented")
}
{{end}}